.container {
  max-width: 1200px;

  margin: 0 auto;

  /* display: flex; */
  /* align-self: center; */
  /* outline: 2px solid lightcoral; */

  padding: 0 15px;
}
.additionalCont {
  min-height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* flex-direction: column; */
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 990.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
  }

  .headerContainer {
    min-height: 0;

    flex-direction: column;

    column-gap: 10px;
    row-gap: 15px;
  }
}
