.headerMain {
  width: 100%;
  outline: 2px solid lightseagreen;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  z-index: 1;
}
.mainBlock {
  position: relative;
  background-color: floralwhite;
  width: 770px;
}

.headerHeroInfo {
  position: relative;
  width: 500px;
  margin-right: 70px;
}
.headerHeroTitle {
  margin-bottom: 25px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;

  font-weight: 700;
  line-height: 30px;
  color: #ff9900;
}
.headerHeroLabel {
  margin-bottom: 25px;
  font-size: 54px;
  line-height: 73px;
}
.headerHeroDesc {
  margin-bottom: 280px;
  font-size: 17px;
  /* font-weight: 400; */
  line-height: 23px;
  letter-spacing: 0.01em;
}
.headerMainImage {
  position: absolute;
  top: -5%;
  right: 0;
  display: flex;
  width: 50%;
  height: 50%;
}
.search {
  position: absolute;
  top: 320px;
  left: 0;
  margin-bottom: 20px;
  outline: 1px solid yellow;
  width: 760px;
}
.headerInput {
  width: 570px;
  height: 50px;
}
.headerButton {
  /* position: absolute; */
  /* top: 0; */
  left: 100%;
  width: 190px;
  height: 50px;
  background: #f85a47;
}
.socialsBlock {
  display: flex;
  height: 160px;
  flex-direction: column;
  /* margin-left: 80px; */

  justify-content: space-around;
  /* align-items: center; */
  /* justify-content: space-around; */
}
.partners {
  /* margin: 30px 10px 30px 0; */
}
