.header {
  width: 100%;
  min-height: 100px;

  /* display: flex; */

  /* align-items: center;
  justify-content: space-between; */

  padding: 10px 0;
  background: lightpink;
}
.header::after {
  background: #bdccff;
  /* content: ""; */
  position: absolute;
  top: 0;
  right: 0;

  width: 90%;
  height: 100%;
}
