.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100px;

  /* background: lightpink; */
  /* opacity: 40%; */

  z-index: 1;

  /* display: flex;
  align-items: center; */
}
