.sliderNavButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 40px;
  /* outline: 1px solid rgb(61, 137, 200); */
  z-index: 3;
}

.leftArrow,
.rightArrow {
  height: 20px;
  cursor: pointer;
}

.rightArrow:disabled {
  color: lightgray;
}
