@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  /* font-weight: 800; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: lightskyblue;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.realEstate {
  /* position; */
  margin-top: 117px;
  flex-grow: 1;
}
