@import-normalize; /* bring in normalize.css styles */

* {
  margin: 0;
  /* background-color: rgb(43, 32, 32); */

  padding: 0;
  border: none;
  box-sizing: border-box;
}

#root {
  /* background: greenyellow; */

  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

html,
body {
  /* height: 100%; */
  margin: 0;

  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  /* color: black; */
  cursor: pointer;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  /* width: 100%; */
  /* vertical-align: top; */
}

button {
  cursor: pointer;
}

/* .content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */
