@import-normalize; /* bring in normalize.css styles */

html {
  /* padding: 1rem 3rem; */
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
}

h1,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  /* font-weight: inherit; */
}
button {
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.realEstate {
  /* position; */
  margin-top: 117px;
  flex-grow: 1;
}
