@value gren from "../../css/variables.css";
.navItem {
  margin-right: 46px;
}

.navLastItem {
  margin-right: 0;
}

.navItemLink {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 17px;
  color: gren;
}
