@value gren from "../../css/variables.css";
.navItem {
}

.navItemLink {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: gren;
}
.navItemLink:hover,
.navItemLink:focus {
  text-decoration: underline;
}
